html {
  font-size: 16px;
  width: 100%;
  font-family: monospace;
  background-color: #e0d0e0;
}

img {
  border-radius: 1rem;
}

/* header */

header {
  display: flex;
  flex: 1;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 64px;
  background-color: white;
  align-items: center;
}

.flexbox-header-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0;
}

.logo {
  display: flex;
  font-size: 2rem;
  flex: 1;
  padding-left: 24px;
  align-items: center;
  justify-content: flex-start;
}

header img {
  width: 32px;
}

.colmar {
  font-color: #444;
  text-transform: uppercase;
}

.academy {
  color: #b0c4de;
  text-transform: uppercase;
}

.navigation {
  padding-right: 24px;
}

.nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding-left: 16px;
  font-size: 1rem;
  font-weight: bold;
}

/* header-mobile */

@media only screen and (max-width: 760px) {
  .desktop {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .navigation {
    width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  .mobile {
    display: inline;
  }
}

@media only screen and (max-width: 760px) {
  .mobile-menu:first-child {
    padding-left: 1.5rem
  }
}

@media only screen and (max-width: 760px) {
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}

@media only screen and (min-width:761px) {
  .fa, .link img {
    display: none;
  }
}

/* banner */

main {
  position: relative;
  top: 4rem;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;
}

.banner-box {
  display: flex;
  align-items: center;
}

.banner-image {
  width: 60%;
  padding-right: 24px;
}

.banner-image img {
  width: 100%;
}

.banner-content {
  width: 40%;
  padding-right: 1rem;
}

.banner-header {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}

.banner-text {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 3rem;
}

.start {
  font-size: 1.5rem;
  text-align: center;
  padding: 8px;
  border-radius: 3rem;
  background-color: #b0c4de;
}

/* banner-mobile */

@media only screen and (max-width: 760px) {
  .banner {
    padding: 0;
  }
}

@media only screen and (max-width: 760px) {
  .banner-box {
    flex-direction: column;
  }
}

@media only screen and (max-width:760px) {
  .banner-image {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width:760px) {
  .banner-content {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width:760px) {
  img {
    border: none;
    border-radius: 0;
  }
}

@media only screen and (max-width:760px) {
  .banner-header {
    padding: 2rem 1rem;
  }
}

@media only screen and (max-width: 760px){
  .banner-text {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .start-mobile {
    padding: 0 1rem 2rem 1rem;
  }
}

@media only screen and (max-width: 760px) {
  .start {
    border: none;
  }
}

/* featured */

.featured {
  background-color: #b0c4de;
}

.featured-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 2rem 1.5rem;
}

.featured-image-desktop {
  width: 60%;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.featured-column img {
  width: 100%;
}

.featured-text .banner-header {
  padding-top: 1.5rem
}

.banner-header {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}

.featured h3 {
  text-align: right;
}

.news-column {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.news-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.news-box:first-child {
  border-radius: 1rem 1rem 0 0;
}

.news-box:last-child {
  border-radius: 0 0 1rem 1rem;
}

.news-box:nth-child(2n+1) {
  background-color: #e0d0e0;
  color: #fff;
}

.news-image {
  width: 35%;
  padding: 16px;
}

.news-image img {
  width: 100%;
}

.mobile {
  display: none;
}

.news-text {
  width: 65%;
  padding-right: 1.5rem;
}

.news-text h4 {
  font-size: 1.5rem;
}

.news-text p {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.news-text a {
  text-align: center;
}

.news-box:nth-child(2n+2) {
  background-color: #fff;
  color: #000;
}

.featured-text {
  margin: 0 auto;
}

/* featured-mobile */

@media only screen and (max-width: 760px) {
  .featured {
    padding: 1rem;
  }
}

@media only screen and (max-width: 760px) {
  .featured-image-desktop {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .news-column {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 760px) {
  .news-box {
    flex-direction: column;
    padding: 0;
  }
}

@media only screen and (max-width: 760px) {
  .news-image {
    width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  img {
    border: none;
    border-radius: 0;
  }
}

@media only screen and (max-width: 760px) {
  .mobile {
    display: inline;
  }
}

@media only screen and (max-width: 760px) {
  .news-text {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    text-align: left;
    text-decoration: none;
  }
}

.course-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 3rem;
}

/* courses */
/* courses-mobile */

/* thesis */

.thesis {
  padding: 2rem 1.5rem 0 1.5rem;
  background-color: #b0c4de;
  text-transform: uppercase;
}

.featured-image {
  width: 60%;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

video {
  width: 100%;
}

.featured-text .banner-header {
  padding-top: 1.5rem;
}

/* thesis-mobile */

@media only screen and (max-width 760px) {
  .featured-two {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
  }
}

@media only screen and (max-width: 760px) {
  .featured-column.two {
    padding: 0 0 1.5rem 0;
    width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  .featured-image {
    width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  .thesis .banner-header {
    padding: 2rem 0 1rem 0;
  }
}

/* footer */

footer {
  width: 100%;
}

.copywright {
  padding: 1rem 1.5rem;
  width: 50%;
  flex: 1;
}

.navigation {
  padding-right: 1.5rem;
}
/* footer-mobile */
